body {
    background-color: #b700fffe;
    background-image: url(фон2.jpg);
    text-align: center;
}

h1 {
    font-family: Segoe UI;
    text-shadow: 0 0 1px rgb(253, 245, 255);
    color: #ffffff;
}

.main_text {
    font-size: 50px;
}

.div_main {
    margin-top: 100px;
    display: flexbox;
    justify-content: center;
    color: #ffff;
}

.block {
    margin-top: 70px;
    display: inline-block;
    flex-direction: column;
    text-align: center;
    background-color: rgba(239, 185, 254, 0.404);
    padding: 40px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 8px 10px #744ca2db;
    backdrop-filter: blur(10px);
    border: 0 solid rgba(255, 255, 255, 0.2);
}

.pol {
    display: block;
    width: 400px;
    height: 50px;
    background-color: rgba(237, 181, 247, 0.485);
    border-radius: 20px;
    border: 1px solid #e3a5fe;
    color: #000;
    margin: 20px;
    transition: 0.3s;
    outline: none;
    padding: 0 30px;
}

.pol::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.pol:hover, .pol:focus {
    background-color: rgba(235, 164, 248, 0.789);
    box-shadow: 0 0 20px rgb(147, 85, 192);
    transform: scale(1.05);
}

.but {
    display: block;
    margin: 0 auto;
    padding: 25px 75px;
    font-size: 25px;
    border-radius: 40px;
    background-color: rgba(242, 132, 248, 0.534);
    outline: none;
    border: 0 solid rgba(219, 135, 223, 0.8);
    box-shadow: 0 0 2px #683584c1;
    transition: 0.2s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    
}

.but:hover {
    background-color: rgba(250, 133, 242, 0.658);
    transform: translateY(-7px);
    box-shadow: 0 7px 10px #8c5bba;
}  

.but:active {
    background-color: rgba(205, 125, 209, 0.693);
    transform: translateY(2px);
    box-shadow: 0 5px 10px #875ac3;
}